
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    color: white;
}
.home-container > h1{
    margin-bottom: 10px;
    font-size: 1.80rem;
}
.slider-container {
    width: 50%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px 0;
    position: relative;
    border: none;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 30px;

    
}
.slick-prev,
.slick-next {
  background-color: transparent !important; 
  border: none !important; 
}

.slick-prev::before,
.slick-next::before {
  color:#373838;
  font-size: 24px !important; 
}

.anime-slider-container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px 0;
    position: relative;
}

.anime-slide {
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

.anime-slider-image {
    width: 200px;
    height: 100%;
    object-fit: contain;
}

.display-container {
    position: absolute;
    bottom: 0;
    right: -100px;
    top: 0;
    z-index: -1;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.25rem;
    color: white;
    padding: 6px;
    border-radius: 50%;
    z-index: 2;
}

.arrow-left {
    left: -50px;
}

.arrow-right {
    right: 35px;
}

.slide {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

.images {
    width: 100%;
    height: 200px;
    object-fit: contain;
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out;
}


@media (max-width: 768px) {
    .slider-container {
        width: 70%;
    }
    .slider-container {
        width: 50%; 
        
    }

    .anime-slider-container {
        width: 100%; 
        padding: 0; 
    }
    .anime-slide {
        width: calc(100% / 5); 
        height: auto;
        flex: 0 0 auto; 
    }
    .anime-slider-image {
        height: auto; 
        width: calc(70.33% - 0px); 
        margin-left: 20px;
    }
    .arrow {
       display: none; 
    }
    
    footer {
        width: 100%;
        background-color: #FFBF00;
        padding: 20px;
        box-sizing: border-box; 
        height: 100%;
        font-size: 12px;
    }
    .footer-info,
.footer-account, .get-in-touch { 
    display: none; 
}
.info{
    display: flex; 
    font-size: 0.570rem;
    justify-content: space-between;
}
.home-container > h1 {
    font-size: 15px;
    margin: 0;
}
    
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  
    .map-section .gmap-frame #gmap-canvas{
        height: 50vh;
        width: 400px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .store-loc{
        text-align: center;
    }
}
@media (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1){
    
    .map-section .gmap-frame #gmap-canvas{
        height: 70vh !important;
        width: 500px !important;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .store-loc{
        text-align: center;
    }
}

.moving-text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center; /* Center the text */
  }
  
  .moving-text p {
    display: inline-block;
    animation: pulse 2s ease-in-out infinite; 
    padding-top: 10px;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  