.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    color: white;

}

.home-container>h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: 550;
    font-family: "Fredoka", arial, sans-serif;

    text-shadow:
        1px 1px 0 #ff6f00,
        -1px -1px 0 #ff6f00,
        1px -1px 0 #ff6f00,
        -1px 1px 0 #ff6f00;

}


.slider-container {
    width: 50%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px 0;
    position: relative;
    border: none;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 30px;


}

.slick-prev,
.slick-next {
    background-color: transparent !important;
    border: none !important;
}

.slick-prev::before,
.slick-next::before {
    color: #373838;
    font-size: 24px !important;
}

.anime-slider-container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px 0;
    position: relative;
}

.anime-slide {
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

.anime-slider-image {
    width: 200px;
    height: 100%;
    object-fit: contain;
}

.display-container {
    position: absolute;
    bottom: 0;
    right: -100px;
    top: 0;
    z-index: -1;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.25rem;
    color: white;
    padding: 6px;
    border-radius: 50%;
    z-index: 2;
}

.arrow-left {
    left: -50px;
}

.arrow-right {
    right: 35px;
}

.slide {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}


.view-more-btn {
    padding: 10px 20px;
    border: none;
    background-color: #FFBF00;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 60px;

}


.images {
    width: 100%;
    height: 200px;
    object-fit: contain;
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out;
}

.vid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.ATC {
    text-align: center;
    padding-bottom: 70px;

}

.animes {
    padding-bottom: 70px;
}

.animes img {
    display: block;
    width: 100%;
    height: auto;
}

.ATC>h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: 550;
    font-family: "Fredoka", arial, sans-serif;

    text-shadow:
        1px 1px 0 #ff6f00,
        -1px -1px 0 #ff6f00,
        1px -1px 0 #ff6f00,
        -1px 1px 0 #ff6f00;

}


.circular-vid {
    width: 900px;
    height: 430px;
    border-radius: 20px 20px 20px 20px;
    object-fit: cover;
}

.popular-brands-title {
    align-items: center;
    text-align: center;

}

.popular-brands-title h1 {
    margin-bottom: 70px;
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: 550;
    font-family: "Fredoka", arial, sans-serif;

    text-shadow:
        1px 1px 0 #ff6f00,
        -1px -1px 0 #ff6f00,
        1px -1px 0 #ff6f00,
        -1px 1px 0 #ff6f00;

}


.brands-card {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.brands-card img {
    height: auto;
    width: 200px;
    cursor: pointer;
}

.megahouse {
    height: auto;
}

.map-section {
    margin-top: 70px;
}

.map-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.gmap-frame {
    flex: 1;
}

.store-address {
    margin-left: 20px;
    max-width: 200px;
    padding: 10px;
    border-radius: 5px;
}

.store-loc {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: 550;
    font-family: "Fredoka", arial, sans-serif;
    text-shadow:
        1px 1px 0 #ff6f00,
        -1px -1px 0 #ff6f00,
        1px -1px 0 #ff6f00,
        -1px 1px 0 #ff6f00;
}


.timer-bg {
    background-color: #161616;
    width: 100%;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .slider-container {
        width: 70%;
    }

    .slider-container {
        width: 50%;

    }

    .anime-slider-container {
        width: 100%;
        padding: 0;
    }

    .anime-slide {
        width: calc(100% / 5);
        height: auto;
        flex: 0 0 auto;
    }

    .anime-slider-image {
        height: auto;
        width: calc(70.33% - 0px);
        margin-left: 20px;
    }

    .arrow {
        display: none;
    }

    footer {
        width: 100%;
        background-color: #FFBF00;
        padding: 20px;
        box-sizing: border-box;
        height: 100%;
        font-size: 12px;
    }

    .footer-info,
    .footer-account,
    .get-in-touch {
        display: none;
    }

    .info {
        display: flex;
        font-size: 0.570rem;
        justify-content: space-between;
    }

    .home-container>h1 {
        font-size: 15px;
        margin: 0;
    }

}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {

    .map-section .gmap-frame #gmap-canvas {
        height: 50vh;
        width: 400px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .store-loc {
        text-align: center;
    }
}

@media (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {

    .map-section .gmap-frame #gmap-canvas {
        height: 70vh !important;
        width: 500px !important;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .store-loc {
        text-align: center;
    }
}

.moving-text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center;
    /* Center the text */
}

.moving-text p {
    display: inline-block;
    animation: pulse 2s ease-in-out infinite;
    padding-top: 10px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}