.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    color: white;
}
.home-container > h1{
    margin-bottom: -40px;
    font-size: 1.80rem;
}
.slider-container {
    width: 50%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px 0;
    position: relative;
    border: none;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 30px;

    
}
.slick-prev,
.slick-next {
  background-color: transparent !important; 
  border: none !important; 
}

.slick-prev::before,
.slick-next::before {
  color:#373838;
  font-size: 24px !important; 
}

.anime-slider-container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px 0;
    position: relative;
}

.anime-slide {
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

.anime-slider-image {
    width: 200px;
    height: 100%;
    object-fit: contain;
}

.display-container {
    position: absolute;
    bottom: 0;
    right: -100px;
    top: 0;
    z-index: -1;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.25rem;
    color: white;
    padding: 6px;
    border-radius: 50%;
    z-index: 2;
}

.arrow-left {
    left: -50px;
}

.arrow-right {
    right: 35px;
}

.slide {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

.images {
    width: 100%;
    height: 200px;
    object-fit: contain;
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out;
}

footer {
    width: 100%;
    background-color: #FFBF00;
    padding: 20px;
    box-sizing: border-box; 
    height: 100%;
    font-size: 12px;
}


.footer-main {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 40px;
    margin-bottom: 20px; 
}

.footer-info,
.footer-account, .get-in-touch { 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    font-size: 0.90rem;
}

a {
    text-decoration: none;
    color: black;
    display: block; 
    margin: 5px 0; 
}

a:hover {
    text-decoration: underline white;
}

.copyrights {
    text-align: center; 
    border-top: 1px solid black; 
    padding-top: 10px; 
}

.needsomehelp{
    border-left: 1px solid black ;
    text-align: center;
    padding: 0 4rem 0 3.125rem;
    color: black;
}
.needsomehelp > h2{
    color: white;
}
.need-help-icons {
    display: flex;
    justify-content: center; 
    gap: 2rem;
    
}

.icon-label {
    padding-top: 1rem;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.icon-label a {
    font-size: 24px; 
    color: black;
    text-decoration: none;
    margin-bottom: 2px;
}

.icon-label label {
    font-size: 12px;
    color: black;
}
.call:hover{
    color: green;
}
.facebook:hover{
color: blue;
}
.faq:hover{
    color: white;
}
.email:hover{
color: #ff0000;
}

.map-section .gmap-frame #gmap-canvas{
    height: 40vh;
    width: 800px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.store-loc{
    text-align: center;
}

/*For mobile*/
.info{
    display: none; 
}


@media (max-width: 768px) {
    .slider-container {
        width: 70%;
    }
    .anime-slider-image {
        width: 50px;
        height: 50px;
        object-fit: contain;

    }
    .arrow-left {
       left: -20px;
    }
    
    .arrow-right {
        left: 280px;
    }
    
    .anime-slide {
        height: 45px;
    }
    footer {
        width: 100%;
        background-color: #FFBF00;
        padding: 20px;
        box-sizing: border-box; 
        height: 100%;
        font-size: 12px;
    }
    .footer-info,
.footer-account, .get-in-touch { 
    display: none; 
}
.info{
    display: flex; 
    font-size: 0.570rem;
    justify-content: space-between;
}
.home-container > h1 {
    font-size: 15px;
    margin: 0;
}
    
}
