.head-head{
    background-color: #FFBF00;
    display: inline-block;
    text-align: center;
    width: 100%;

}
.fbpage {
    border-radius: 4px;
    background: linear-gradient(to right, #FFBF00, #80cbee) !important;
    border: 1px solid black;
    color: #3700ff;
    text-align: center;
    width: 100%;
  }
  .fbpage span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .fbpage span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .fbpage:hover span {
    padding-right: 25px;
  }
  .fbpage:hover span:after {
    opacity: 1;
    right: 0;
  }

  
header {
    background-color: #FFBF00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding: 0.625rem;
    position: relative;
    z-index: 1;
}

.logo-container{
    display: flex;
    
}

.logo {
  height: 8rem;
  width: 8rem;
  position: relative;
  left: 450px;
  display: block;
}
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 0.50rem;
    margin: 0;
    list-style: none;
}

.nav-links li {
    position: relative;
}

.search-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.search-form {
    display: flex;
    width: 100%;
}

.search-form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
}

.search-form button {
    padding: 10px;
    background-color: #FFBF00;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.nav-links li a, .dropdown-toggle {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-links li a::before, .dropdown-toggle::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transition: top 0.4s ease-in-out, visibility 0s ease-in-out -5s;
    z-index: -1;
    visibility: hidden;
}

.nav-links li a:hover::before, .dropdown-toggle:hover::before {
    top: 0;
    visibility: visible;
    transition: top 0.4s ease-in-out, visibility 0s ease-in-out 0s;
}

.nav-links li a:hover, .dropdown-toggle:hover {
    color: black;
    transform: translateY(-2px);
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown-toggle {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: black;
    transition: color 0.3s ease-in-out;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFBF00;
    list-style: none;
    padding: 0;
    margin: 0;
    width: max-content;
    z-index: 10;
    border: 1px solid black;
    transition: opacity 0.3s ease-in-out;
}

.dropdown-menu li {
    padding: 0;
}

.dropdown-menu li a {
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
}

.dropdown-icon {
    display: inline-block;
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}

.dropdown-toggle.active .dropdown-icon {
    transform: rotate(180deg);
}

.icon-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 70px;
}

.icon-links svg {
    color: black;
    font-size: 1.5rem;
}

input {
    border-radius: 5px 0px 0px 5px;
    border: 1px solid black;
    padding: 10px;
}
.hamburger-menu{
    display: none;
}

@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: end;
        align-items: center;

    }
    .logo-container {
        display: flex;
        justify-content: center;
    }
    

    .logo {
        height: 1rem;
        width: 2px;
        background-color: red;
        justify-content: center;
    
    }
    .icon-links {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: end;
     
    }

    .nav-links li {
        width: 100%;
        display: none;
        
    }

    .icon-links {
        margin-left: 0;
        margin-top: 1rem;
    }
    .hamburger-menu{
        position: relative;
       display: flex;
       justify-content: start;
       right: 0;
       left: -120px;
    }

    .search-popup {
        width: 90%;
    }
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .logo-container {
        flex: 1;
        justify-content: flex-start;
    }

    .logo {
        height: 6rem;
        width: 6rem;
        margin-left: 0;
        left: 170px;
    }

}

