header {
    background-color: #FFBF00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Poppins", sans-serif;
    padding: 0.625rem;
    position: relative;
    z-index: 1;
}
.logo-container{
    display: flex;
}
.logo{
    height: 8rem;
    width: 8rem;
    margin-left: 0;

}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 0.50rem;
    margin: 0;
    list-style: none;
}

.nav-links li {
    position: relative;
}

.nav-links li a, .dropdown-toggle {
    text-decoration: none;
    color: #710303;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 60%; 

}

.nav-links li a::before, .dropdown-toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transition: left 0.4s ease-in-out, visibility 0s ease-in-out -5s;
    z-index: -1;
    visibility: hidden;
}

.nav-links li a:hover::before, .dropdown-toggle:hover::before {
    left: 0;
    visibility: visible;
    transition: left 0.4s ease-in-out, visibility 0s ease-in-out 0s;
}

.nav-links li a:hover, .dropdown-toggle:hover {
    color: #710303;
    transform: translateY(-2px);
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    
}

.dropdown-toggle {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #710303;
    transition: color 0.3s ease-in-out;
    position: relative;
    height: 100%;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #FFBF00;
    list-style: none;
    padding: 0;
    margin: 0;
    width: max-content; 
    z-index: 10;
    border: 1px solid black;
    transition: opacity 0.3s ease-in-out;
}

.dropdown-menu li {
    padding: 0;
}

.dropdown-menu li a {
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    color: #710303;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
}

.dropdown-icon {
    display: inline-block;
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}

.dropdown-toggle.active .dropdown-icon {
    transform: rotate(180deg);
}

.icon-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 70px;
}

.icon-links svg {
    color: #710303;
    font-size: 1.5rem;
}

input {
    border-radius: 5px 0px 0px 5px;
    border: 1px solid black;
    padding: 10px;
}

button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    background-color: #FFBF00;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
