.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 5rem;
  margin: 0;
  box-sizing: border-box;
  color: #FFFFFF;
 
}

.product-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #161616;
  width: 300px;
}
.pre-order{
  position: absolute;
  background-color: #ec6801;
  top: 10px;
  right: 0;
  padding: 0.20rem;
}
.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  padding-top: 1rem;
}

.product-info {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

}

.product-info div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  color: #FFFFFF;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.product-description {
  color: rgb(182, 180, 180);
  font-size: 0.875rem;
  margin: 0 0 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 0.90rem;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.product-footer {
  display: flex;
  align-items: center;
  justify-content: center; 
  opacity: 0; 
  transition: opacity 0.3s ease;
  left: 1rem;
  right: 1rem;
  margin-top: 0.30rem;
}

.product-card:hover .product-footer {
  opacity: 1; 
}

.add-to-cart-button,
.icon-button {
    background-color: #ec6801;
    width: 150px; 
    height: 40px; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    color: white;
}
.icon-button{
  border-right: 1px solid black;
}

.add-to-cart-button:hover,
.icon-button:hover {
    background-color: #ca8b5b;
}
.product-card:hover .add-to-cart-button {
  opacity: 1; 
  pointer-events: auto; 
}

.add-to-cart-button:hover {
  background-color: #ca8b5b;
}
.product-footer-mobile{
  display: none;
}

@media (max-width: 768px) {
  .product-list {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .product-card {
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    height: auto;
    width:100%;
    align-items: center;
    align-self: center;
  }
  .product-description {
    font-size: 0.500rem;

  }
  .product-image {
    width: 100px;
    height: 100px;
    align-self: center;
  }
  .product-title {
    font-size: 0.600rem;
  }
  
  .product-price {
    font-size: 0.500rem;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 0;
  }
  .add-to-cart-button {
    font-size: 0.442rem;
    display: none;
  }
  .icon-button {
    padding: 0.400rem;
    font-size: 0.480rem;
    display: none;

  }
  .product-footer-mobile{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 20px;
  }
  .icon-button-mobile{
    width: 100%;
    height: 30px;
    background-color: #ca8b5b;
    border: none;
    border-right: 1px solid black;
  }
  .add-to-cart-button-mobile{
    width: 200px;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
    background-color: #ca8b5b;
    border: none;
  }
}

@media (max-width: 900px) {
  .product-list {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 600px) {
  .product-list {
    grid-template-columns: 2fr;
  }
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    .product-card {
      width: 250px;
    }
    .product-title {
      font-size: 0.90rem;
    }
    .product-description {
      font-size: 0.700rem;
    }
    .product-price {
      font-size: 0.70rem;
    }
    .add-to-cart-button {
      padding: 0.380rem;
      font-size: 1.05rem;
 
    }
    
}
